In [2]:
# Import libraries 
import pandas as pd 
import numpy as np

In [46]:
# Get the train datasets 
train_headings = pd.read_csv('data/fnc-1/train_stances.csv')
train_bodies = pd.read_csv('data/fnc-1/train_bodies.csv')
# Get the test datasets  
test_headings = pd.read_csv('data/fnc-1/test_stances_unlabeled.csv')
test_bodies = pd.read_csv('data/fnc-1/test_bodies.csv')

In [36]:
# Temporary lists to store train values 
train_bodyID = list()
train_articleHeading = list()
train_articleBody = list()
train_articleStance = list()

In [37]:
# Temporary lists to store test values 
test_bodyID = list()
test_articleHeading = list()
test_articleBody = list()
trest_articleStance = list()

In [38]:
# Form the training dataframe 
for body_value in train_bodies.index:
    body_id = train_bodies['Body ID'][body_value]
    current_heading = train_headings.loc[train_headings['Body ID'] == body_id]
    
    current_body_value = train_bodies['articleBody'][body_value]
    
    for head_value in current_heading.index:
        current_heading_value = current_heading['Headline'][head_value]
        current_stance_value = current_heading['Stance'][head_value]
        # Append the values to the dataframe 
        train_bodyID.append(body_id)
        train_articleHeading.append(current_heading_value)
        train_articleBody.append(current_body_value)
        train_articleStance.append(current_stance_value)

In [47]:
# Create an empty dataframe as the final train dataframe 
train_data = pd.DataFrame()
train_data['bodyId'] = train_bodyID
train_data['articleHeading'] = train_articleHeading
train_data['artcicleBody'] = train_articleBody
train_data['articleStance'] = train_articleStance

In [48]:
# Form the testing dataframe 
for body_value in test_bodies.index:
    body_id = test_bodies['Body ID'][body_value]
    current_heading = test_headings.loc[test_headings['Body ID'] == body_id]
    
    current_body_value = test_bodies['articleBody'][body_value]
    
    for head_value in current_heading.index:
        current_heading_value = current_heading['Headline'][head_value]
        # Append the values to the dataframe 
        test_bodyID.append(body_id)
        test_articleHeading.append(current_heading_value)
        test_articleBody.append(current_body_value)

In [40]:
# Create an empty dataframe as the final train dataframe 
train_data = pd.DataFrame()
train_data['bodyId'] = train_bodyID
train_data['articleHeading'] = train_articleHeading
train_data['artcicleBody'] = train_articleBody

In [51]:
train_data

,bodyId,articleHeading,artcicleBody,articleStance
0,0,"Soldier shot, Parliament locked down after gun...",A small meteorite crashed into a wooded area i...,unrelated
1,0,Tourist dubbed ‘Spider Man’ after spider burro...,A small meteorite crashed into a wooded area i...,unrelated
2,0,Luke Somers 'killed in failed rescue attempt i...,A small meteorite crashed into a wooded area i...,unrelated
3,0,BREAKING: Soldier shot at War Memorial in Ottawa,A small meteorite crashed into a wooded area i...,unrelated
4,0,Giant 8ft 9in catfish weighing 19 stone caught...,A small meteorite crashed into a wooded area i...,unrelated
...,...,...,...,...
49967,2532,"Pizza delivery man gets tipped more than $2,00...","ANN ARBOR, Mich. – A pizza delivery man in Mic...",agree
49968,2532,"Pizza delivery man gets $2,000 tip","ANN ARBOR, Mich. – A pizza delivery man in Mic...",agree
49969,2532,"Luckiest Pizza Delivery Guy Ever Gets $2,000 Tip","ANN ARBOR, Mich. – A pizza delivery man in Mic...",agree
49970,2532,Ann Arbor pizza delivery driver surprised with...,"ANN ARBOR, Mich. – A pizza delivery man in Mic...",agree
49971,2532,Ann Arbor pizza delivery driver surprised with...,"ANN ARBOR, Mich. – A pizza delivery man in Mic...",agree

In [52]:
test_data

,bodyId,articleHeading,artcicleBody
0,1,Apple installing safes in-store to protect gol...,Al-Sisi has denied Israeli reports stating tha...
1,1,El-Sisi denies claims he'll give Sinai land to...,Al-Sisi has denied Israeli reports stating tha...
2,1,Apple to keep gold Watch Editions in special i...,Al-Sisi has denied Israeli reports stating tha...
3,1,Apple Stores to Keep Gold “Edition” Apple Watc...,Al-Sisi has denied Israeli reports stating tha...
4,1,South Korean woman's hair 'eaten' by robot vac...,Al-Sisi has denied Israeli reports stating tha...
...,...,...,...
25408,2586,A Sign That Obamacare Exchanges Are Failing,Remember how much Republicans wanted to repeal...
25409,2586,Republicans call Obamacare a 'failure.' These ...,Remember how much Republicans wanted to repeal...
25410,2586,CBO’s Alternate Facts Show Obamacare is Unsust...,Remember how much Republicans wanted to repeal...
25411,2586,Why Obamacare failed,Remember how much Republicans wanted to repeal...
25412,2586,The success of the Affordable Care Act is a hu...,Remember how much Republicans wanted to repeal...